html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: pacifico;
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(./fonts/pacifico-v12-latin-regular.woff2) format("woff2"), url(./fonts/pacifico-v12-latin-regular.woff) format("woff");
}
@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(./fonts/lato-v14-latin-regular.woff2) format("woff2"), url(./fonts/lato-v14-latin-regular.woff) format("woff");
}
@font-face {
  font-family: lato;
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(./fonts/lato-v14-latin-700.woff2) format("woff2"), url(./fonts/lato-v14-latin-700.woff) format("woff");
}
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: lato, -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}
.page-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 2.5rem;
}
.page-header .search-term {
  font-style: italic;
}
@media screen and (min-width: 720px) {
  .siteMain-pageHeader .page-title {
    margin-top: 0;
  }
}
p {
  margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "courier 10 pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, andale mono, dejavu sans mono, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
big {
  font-size: 125%;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #fff;
  fill: currentColor;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.center{ text-align: center; }
.alignwide,
.alignfull {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}
.alignwide figcaption,
.alignfull figcaption {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.button {
  color: #fff;
  background: #ff8e8e;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1rem;
  white-space: nowrap;
}
.button:visited {
  color: #fff;
}
.tgg-callout-panel {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(133, 158, 211, 0.3);
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}
button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

a {
  color: #539fa9;
  text-decoration: none;
}
a:visited {
  color: #96c5cc;
}
a:hover,
a:focus,
a:active {
  color: #315f65;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#wordgen-container .wordgen-controls {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
#wordgen-container .wordgen-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}
#wordgen-container label {
  flex: 2;
  font-weight: 400;
  text-align: right;
  padding-right: 1rem;
}
#wordgen-container select {
  flex: 4;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  background: #fff;
  font-weight: 600;
  padding: 0.5rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMjA3LjAyOSAzODEuNDc2TDEyLjY4NiAxODcuMTMyYy05LjM3My05LjM3My05LjM3My0yNC41NjkgMC0zMy45NDFsMjIuNjY3LTIyLjY2N2M5LjM1Ny05LjM1NyAyNC41MjItOS4zNzUgMzMuOTAxLS4wNEwyMjQgMjg0LjUwNWwxNTQuNzQ1LTE1NC4wMjFjOS4zNzktOS4zMzUgMjQuNTQ0LTkuMzE3IDMzLjkwMS4wNGwyMi42NjcgMjIuNjY3YzkuMzczIDkuMzczIDkuMzczIDI0LjU2OSAwIDMzLjk0MUwyNDAuOTcxIDM4MS40NzZjLTkuMzczIDkuMzcyLTI0LjU2OSA5LjM3Mi0zMy45NDIgMHoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 5%;
}
#wordgen-container #gennedword-container {
  background: #bae7ea;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 2rem;
  color: rgba(46, 46, 46, 0.75);
  font-size: 1.5rem;
  text-align: center;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wordgen-container #gennedword-container p {
  margin: 0;
}
#wordgen-container .newWord-container {
  text-align: center;
  margin: 2rem 0;
}
#wordgen-container #newword-button {
  color: #fff;
  background: #ff8e8e;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1rem;
}
#wordgen-container #newword-button:visited {
  color: #fff;
}

@media screen and (min-width: 720px) {
  #wordgen-container .wordgen-controls {
    flex-direction: row;
  }
  #wordgen-container .wordgen-control {
    flex: 1;
  }
  #wordgen-container select {
    background: 0 0;
    margin-top: 1rem;
    width: 85%;
    height: 2.5rem;
  }
  #wordgen-container #newword-button {
    font-size: 1.5rem;
  }
  #wordgen-container #gennedword-container {
    font-size: 2.5rem;
    min-height: 16rem;
  }
}
